<h2>Listagem de setores</h2>
<% @setors.each do |setor| %>
<div class="setores">
  <div id="esq">
    <h3><%= link_to setor.nome , setor %></h3>
    Sigla: <%= setor.sigla %> <br>
    Possui: <%= setor.funcionarios.count %> funcionarios
  </div>
 </div>
<% end %>
<br />

<%= link_to 'Novo Setor', new_setor_path %>
