<h1>Listing doc_tramitacaos</h1>

<table>
  <tr>
    <th>Setor destino</th>
    <th>Pessoa destino</th>
    <th>Data</th>
    <th>Hora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doc_tramitacaos.each do |doc_tramitacao| %>
  <tr>
    <td><%= documento.doc_tramitacao.setor_destino %></td>
    <td><%= documento.doc_tramitacao.pessoa_destino %></td>
    <td><%= documento.doc_tramitacao.data %></td>
    <td><%= documento.doc_tramitacao.hora %></td>

  </tr>
<% end %>
</table>

